.form-group>textarea {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.form-group>textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.text-area-is-invalid {
    border-color: #dc3545 !important;
}

.shadow-lg {
    background-color: #f0f0f0;
    border: 1px solid #00a896;
}

table>thead {
    background-color: #05668d;
    color: #ffffff;
}

i:hover {
    cursor: pointer;
}