<app-spinner *ngIf="isLoading && isError"></app-spinner>

<div class="shadow-lg rounded p-3" *ngIf="!isLoading && !isError">
    <h5 class="font-028090">Datos personales:</h5>
    <!-- Form starts -->
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="70" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="50" class="mr-2">
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="firstNameId" placeholder="Nombres" name="firstName" formControlName="firstName" [class.is-invalid]="firstNameNotValid">
                        </div>
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="identificationId" placeholder="Identificación" name="identification" formControlName="identification" [class.is-invalid]="identificationNotValid">
                        </div>
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="emailId" placeholder="Correo electrónico" name="email" formControlName="email" [class.is-invalid]="emailNotValid">
                        </div>
                    </div>
                    <div fxFlex="50" class="mr-2">
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="lastNameId" placeholder="Apellidos" name="lastName" formControlName="lastName" [class.is-invalid]="lastNameNotValid">
                        </div>
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha de nacimiento" id="birthdayid" name="birthday" formControlName="birthday" [class.is-invalid]="birthdayNotValid" name="dp" ngbDatepicker [minDate]="minDate" #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                            </div>
                        </div>
                        <small class="form-text text-muted" *ngIf="birthdayNotValid">La fecha de nacimiento es obligatoria.</small>
                        <!-- Gender -->
                        <div class="div-input-default-radio" fxlayout="column" fxLayoutAlign="start center">
                            <span class="mr-2"> Sexo: </span>
                            <div class="custom-control custom-radio custom-control-inline" *ngFor="let genderOption of genderOptions">
                                <input type="radio" id="genderId{{genderOption.value}}" class="custom-control-input" name="gender" [value]="genderOption.value" formControlName="gender">
                                <label class="custom-control-label" for="genderId{{ genderOption.value}}"> {{genderOption.viewValue}} </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="width: 100%; color: #ced4da; height: 1px;" />
                <div fxLayout="column" fxLayoutAlign="stretch">
                    <div class="form-group">
                        <textarea placeholder="Descripción general del candidato que se va a postular." name="description" id="descriptionId" formControlName="description" [class.text-area-is-invalid]="descriptionNotValid" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div fxFlex="30">
                <div class="form-group text-center" fxLayout="column" style="margin-bottom: 31px;">
                    <label for="imageId" class="col-form-label"> <img class="circular--landscape-280" [src]="candidatePhoto" alt="processImage"> </label>
                    <input hidden #fileInputImage type="file" accept=".jpg, .jpeg" id="imageId" name="image" formControlName="image" (change)="handleFileInput($event.target.files)" [class.is-invalid]="imageNotValid">
                </div>
            </div>
        </div>
    </form>
    <!-- form ends -->
</div>

<!-- Electoral proposals starts -->
<div class="shadow-lg rounded p-3 mt-4 overflow-auto">
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-3">
        <div fxFlex="60">
            <h5 class="font-028090">Propuestas de campaña:</h5>
        </div>
        <div fxFlex="40" fxLayoutAlign="space-between center">
            <button class="btn btn-table" (click)="handleElectoralProposals()">Adicionar propuesta <i class="fas fa-plus-circle"></i></button>
            <button class="btn btn-table" (click)="deleteAllProposal()">Eliminar propuestas <i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
    <table class="table table-striped" *ngIf="electoralProposals.length>0">
        <thead>
            <tr>
                <th style="width: 50px;" class="text-center" scope="col">N°</th>
                <th class="text-center" scope="col">DESCRIPCIÓN CORTA</th>
                <th style="width: 200px;" class="text-center" scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proposal of electoralProposals; let idx='index'">
                <th> {{ idx + 1 }} </th>
                <th> {{ proposal.generalDescription }} </th>
                <th class="text-center overflow-auto">
                    <i class="fas fa-eye font-05668D ml-2 mr-2" ngbPopover="Ver detalles de la propuesta de votación" triggers="mouseenter:mouseleave" popoverTitle="Ver Detalles" (click)="viewProposal(proposal.generalDescription)"></i>
                    <!-- <i class="fas fa-pencil-alt font-05668D ml-2 mr-2" ngbPopover="Editar campos de la propuesta de votación" triggers="mouseenter:mouseleave" popoverTitle="Editar"></i> -->
                    <i class="fas fa-trash-alt text-danger ml-2 mr-2" ngbPopover="Eliminar la propuesta de votación" triggers="mouseenter:mouseleave" popoverTitle="Eliminar" (click)="deleteProposal(proposal.generalDescription)"></i>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<!-- Electoral proposals ends -->

<!-- Actions buttons -->
<hr style="width: 100%; color: #ced4da; height: 1px;" />
<div fxLayout="row" fxLayoutAlign="end center">
    <button type="button" class="btn btn-dec btn-cancel mr-4" (click)="cancel()"> DESCARTAR CAMBIOS</button>
    <button type="submit" class="btn btn-dec btn-submit ml-4" (click)="onSubmit()"> GUARDAR </button>
</div>