.div-form {
    padding: 20px 10px;
}


/* Extra small devices (portrait phones, less than 576px) */


/* No media query for `xs` since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .div-form {
        padding: 20px 20px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .div-form {
        padding: 20px 50px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .div-form {
        padding: 20px 100px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .div-form {
        padding: 20px 150px;
    }
}