<!-- Banner -->
<app-main-banner text="Crear usuario."></app-main-banner>

<!-- Form -->
<div class="div-form animated fadeIn fadeInLeft">
    <h5 class="font-028090">Ingrese los datos del nuevo usuario:</h5>
    <!-- candidate form -->
    <app-new-user-form></app-new-user-form>
</div>