<!-- Banner -->
<app-main-banner text="REPORTAR NOVEDADES"></app-main-banner>

<!-- infrmation for user -->
<div class="text-center mt-3 animated fadeIn">
    <h4>En este espacio puede realizar una solicitud de revisión, para permitirle votar en un proceso próximo específico.</h4>
</div>

<!-- Form -->
<div class="div-form animated fadeIn fadeInLeft">
    <h5 class="font-028090">Ingrese los datos para solicitar la revisión:</h5>
    <app-report-news-form></app-report-news-form>
</div>