<!-- Ganner -->
<app-main-banner text="Editar proceso de elección."></app-main-banner>
<!-- form -->
<div class="div-form animated fadeIn fadeInLeft">
    <div class="shadow-lg rounded p-3">
        <!-- processes form -->
        <app-new-process-form [isEdit]=true></app-new-process-form>
    </div>
</div>