<div *ngIf="isLoading && !isError">
    <app-spinner></app-spinner>
</div>
<div class="results-div" *ngIf="!isLoading && !isError">
    <div style="display: block" fxFlex="50">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>
    <div fxFlex="50">
        <div class="container">
            <h2 class="font-05668D">Información del proceso</h2>
            <p>Total: votos <span class="font-028090">{{ totalVotes }}</span></p>
            <p>Número de candidatos <span class="font-028090">{{ candidatesNumber }}</span></p>
            <p>Número de votantes <span class="font-028090">{{ votersNumber }}</span></p>
            <p>Porcentaje de votantes activos <span class="font-028090">{{ activeVotersPorcentage }}%</span></p>
            <p>Porcantaje de abstinencia de votantes <span class="font-028090">{{ abstentionismVotersPorcentage }}%</span></p>
        </div>
    </div>
</div>