<section class="shadow p-3 mb-5 bg-white rounded">
    <div class="text-justify">
        <p>Puede reportar o verificar el estado de una novedad en los siguientes botones.</p>
    </div>
    <div class="text-center"><button class="btn btn-00a896 mb-2" (click)="reportNews()">{{ textButton }}</button></div>
    <div class="text-center"><button class="btn btn-00a896" (click)="consultState()" *ngIf="!isCandidate">Consultar estado</button></div>
    <div class="text-center"><button class="btn btn-00a896" (click)="consultCandidateState()" *ngIf="isCandidate">Consultar estado</button></div>
</section>