<!-- Banner -->
<app-main-banner text="Consulta de resultados"></app-main-banner>
<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>
<div class="container mt-2 mb-1">
    <!-- If there's an error -->
    <div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
        <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
    </div>
    <!-- If the data is empty -->
    <div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
        <span>No se encuentran registros de procesos electorales próximos.</span>
    </div>
    <!-- search input -->
    <div class="mb-2 w-50" fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
        <input class="w-100 form-control" placeholder="Buscar" type="text" name="searchAlly" id="searchAllyId" (keyup)="searchProcess(searchText.value)" #searchText>
    </div>
    <!-- If isn't searched -->
    <div class="row overflow-auto" style="height: 400px;" fxHide fxShow.gt-xs *ngIf="!isLoading && !isEmpty && !isError && !isSearch">
        <div class="col-4" *ngFor="let process of processes">
            <div class="card shadow p-3 mb-5 bg-white rounded" placement="bottom" [ngbTooltip]="process.description">
                <div class="text-center">
                    <img class="circular--landscape-130 card-img-top" [src]="process.image" alt="process-image">
                </div>
                <div class="pl-2 pr-2">
                    <div class="text-center">
                        <p class="font-weight-bold font-05668D">{{process.name}}</p>
                        <small>{{ process.start_date }}</small>
                    </div>
                    <div class="text-center" fxLayout="column">
                        <button class="btn btn-05668D mt-2" (click)="viewWinner(process.id)">Ver resultado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- If is searched but not data in search -->
    <div *ngIf="searchText.value">
        <h5><span class="font-05668D">Buscando: </span>{{ searchText.value }}</h5>
        <div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="isSearchIsEmpty && !isLoading">
            <span>No se encuentran registros para su búsqueda.</span>
        </div>
    </div>
    <!-- If is searched with data in search -->
    <div class="row overflow-auto" style="height: 400px;" fxHide fxShow.gt-xs *ngIf="!isLoading && !isEmpty && !isError && isSearch">
        <div class="col-4" *ngFor="let process of processesArrayWhenIsSearched">
            <div class="card shadow p-3 mb-5 bg-white rounded" placement="bottom" [ngbTooltip]="process.description">
                <div class="text-center">
                    <img class="circular--landscape-130 card-img-top" [src]="process.image" alt="process-image">
                </div>
                <div class="pl-2 pr-2">
                    <div class="text-center">
                        <p class="font-weight-bold font-05668D">{{process.name}}</p>
                        <small>{{ process.start_date }}</small>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-05668D mt-2" (click)="viewWinner(process.id)">Ver resultado</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- For small displays -->
<div class="text-center">
    <div class="mb-5" fxShow.sm="false" fxShow.gt-xs="false" fxShow="true" *ngIf="!isLoading && !isEmpty && !isError && !isSearch">
        <ngb-carousel [showNavigationIndicators]=false>
            <ng-template ngbSlide *ngFor="let process of processes">
                <div class="picsum-img-wrapper text-center img-container">
                    <img class="crop" [src]="process.image" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <p>{{ process.name }}</p>
                    <button class="btn btn-05668D mt-2" (click)="viewWinner(process.id)">Ver resultado</button>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>