.container-banner {
    position: relative;
    display: inline-block;
    text-align: left;
}

.text-over {
    position: absolute;
    top: 10px;
    left: 10px;
}

.text-cetering {
    width: 70%;
    position: absolute;
    top: 20%;
    left: 48px;
    /* transform: translate(-50%, -50%); */
}

.text-cetering>span {
    font-size: 1.3rem;
    /* color: #028090; */
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .text-cetering>span {
        font-size: 2rem;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .text-cetering>span {
        font-size: 2.3rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .text-cetering>span {
        font-size: 3rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .text-cetering>span {
        font-size: 4rem;
    }
}