<!-- this isn't showed in xs displays -->

<div class="container-banner" fxHide fxShow.gt-xs>
    <img class="w-100" src="assets\img\banner-about-2.jpg" />
    <div class="text-cetering">
        <span>
            {{typewriter_display }}
        </span>
    </div>
</div>