<!-- Banner if is possible create a candidate -->
<app-main-banner *ngIf="processState==='0' && !isLoading && !isError && !isEmpty" [text]="buttonBannerText" textButtonNew="Nuevo Candidato" routeButtonNew="process/{{processId}}/candidates/new_candidate" textButtonDownload="Descargar reporte" [routeButtonDownload]="reportCandidates"></app-main-banner>
<!-- Banner if is not possible create a candidate -->
<app-main-banner *ngIf="processState!=='0' && !isLoading && !isError && !isEmpty" [text]="buttonBannerText" routeButtonNew="process/{{processId}}/candidates/new_candidate" textButtonDownload="Descargar reporte" [routeButtonDownload]="reportCandidates"></app-main-banner>
<!-- Spinner -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>
<!-- process name -->
<div class="text-center mt-3">
    <h4>Proceso de votación: {{ processName }}</h4>
</div>
<!-- Error if there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>
<!-- Empty information if the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>No se encuentran registros.</span>
</div>
<!-- Table with data -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isEmpty && !isError">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">IDENTIFICACIÓN</th>
                <th class="text-center" scope="col">NOMBRES</th>
                <th class="text-center" scope="col">APELLIDOS</th>
                <th class="text-center" scope="col">GENERO</th>
                <th class="text-center" scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let candidate of candidates">
                <th class="text-center" scope="row">{{ candidate.id }}</th>
                <td>{{ candidate.identification }}</td>
                <td>{{ candidate.first_name }}</td>
                <td *ngIf="candidate.identification != '-'">{{ candidate.last_name }}</td>
                <td class="text-center" *ngIf="candidate.gender === 'F' && candidate.identification != '-'">Femenino</td>
                <td class="text-center" *ngIf="candidate.gender === 'M' && candidate.identification != '-'">Masculino</td>
                <td class="text-right overflow-auto" *ngIf="candidate.identification != '-'">
                    <i class="fas fa-eye font-05668D ml-1 mr-1" ngbPopover="Ver detalles del candidato del proceso de elección y sus propuestas" triggers="mouseenter:mouseleave" popoverTitle="Ver Detalles" (click)="viewDetails(candidate)"></i>
                    <i *ngIf="processState === '0'" class="fas fa-pencil-alt font-05668D ml-1 mr-1" ngbPopover="Editar campos del candidato del proceso de votación" triggers="mouseenter:mouseleave" popoverTitle="Editar" (click)="editCandidate(candidate.id)"></i>
                    <i *ngIf="processState === '0'" class="fas fa-trash-alt text-danger ml-1 mr-1" ngbPopover="Borrar candidato del proceso de votación" triggers="mouseenter:mouseleave" popoverTitle="Borrar" (click)="deleteCandidate(candidate.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>
</div>