.div-table {
    margin: 20px 150px;
    padding: 20px;
    border: 1px solid #00a896;
    background-color: #f0f0f0;
}

.div-table>table>thead {
    background-color: #05668d;
    color: #ffffff;
}

i:hover {
    cursor: pointer;
}