<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>En este momento no hay procesos de votación para poder hacer un reporte.</span>
</div>

<div class="shadow-lg rounded p-3 mb-4" *ngIf="!isLoading && !isEmpty && !isError">
    <!-- Form starts -->
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayout.xs="column" *ngIf="!isCandidate">
            <!-- first section left side -->
            <div fxFlex="50" class="mr-2">
                <!-- Firstname -->
                <div class="div-input-default">
                    <input type="text" class="form-control" id="firstNameId" placeholder="Nombres" name="firstName" formControlName="firstName" [class.is-invalid]="firstNameNotValid">
                </div>
                <!-- identification -->
                <div class="div-input-default">
                    <input type="text" class="form-control" id="identificationId" placeholder="Identificación" name="identification" formControlName="identification" [class.is-invalid]="identificationNotValid">
                </div>
            </div>
            <!-- first section right side -->
            <div fxFlex="50">
                <!-- lastname -->
                <div class="div-input-default">
                    <input type="text" class="form-control" id="lastNameId" placeholder="Apellidos" name="lastName" formControlName="lastName" [class.is-invalid]="lastNameNotValid">
                </div>
                <!-- email -->
                <div class="div-input-default">
                    <input type="text" class="form-control" id="emailId" placeholder="Correo electrónico" name="email" formControlName="email" [class.is-invalid]="emailNotValid">
                </div>
            </div>
        </div>
        <hr style="width: 100%; color: #ced4da; height: 1px;" *ngIf="!isCandidate" />
        <!-- second section -->
        <div>
            <!-- process -->
            <div class="form-group" *ngIf="!isCandidate">
                <span class="font-00a896">Seleccione el proceso en el cual quiere votar.</span>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <select id="processIdId" class="form-control" name="processId" formControlName="processId" [class.is-invalid]="processIdNotValid">
                        <option *ngFor="let process of processes" [value]="process.id"> Código {{ process.id }} - {{ process.name }} </option>
                    </select>
                </div>
            </div>
            <!-- comments -->
            <div class="form-group">
                <textarea placeholder="Describa brevemente su situación." name="comments" id="commentsId" formControlName="comments" rows="4" [class.text-area-is-invalid]="commentsNotValid"></textarea>
            </div>
        </div>
        <div class="text-center">
            <re-captcha name="recaptcha" formControlName="recaptcha" (resolved)="resolvedCaptcha($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU">
            </re-captcha>
        </div>
    </form>
    <!-- form ends -->
</div>


<!-- Actions buttons -->
<div fxLayout="row" fxLayoutAlign="end center" *ngIf="!isLoading && !isEmpty && !isError">
    <button type="button" class="btn btn-dec btn-cancel mr-4" (click)="cancel()"> DESCARTAR CAMBIOS</button>
    <button type="submit" class="btn btn-dec btn-submit ml-4" (click)="onSubmit()"> ENVIAR </button>
</div>