<app-spinner *ngIf="isLoading && !isError"></app-spinner>

<div class="candidate-info" fxLayout="row" *ngIf="!isLoading && !isError">
    <div fxFlex="30" class="mr-2">
        <img [src]="candidate.image" alt="candidate-photo">
        <div class="text-left">
            <p class="font-05668D">{{ candidate.first_name }} {{ candidate.last_name }}</p>
            <p class="font-05668D text-justify">{{ candidate.description }}</p>
        </div>
    </div>
    <div fxFlex="70">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <h2 class="font-05668D">PROPUESTAS DE CAMPAÑA:</h2>
            <button class="btn btn-05668D" (click)="onBack()">VOLVER</button>
        </div>
        <hr>
        <div *ngFor="let proposal of candidate.proposals; index as idx">
            <h4 class="font-05668D">Propuesta {{ idx + 1 }}</h4>
            <p><span class="font-02c39a">Descripción genetal: </span>{{proposal.generalDescription}}</p>
            <p><span class="font-02c39a">Detalle de la propuesta: </span>{{proposal.details}}</p>
        </div>
    </div>
</div>