<!-- Banner -->
<app-main-banner text="Postular candidato de elección."></app-main-banner>

<!-- Form -->
<div class="div-form animated fadeIn fadeInLeft">
    <h5 class="font-028090">Ingrese los datos del candidato para postular:</h5>
    <!-- candidate form -->
    <app-new-candidate-form></app-new-candidate-form>
</div>