<!-- Form -->
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch">
    <input type="text" class="form-control mb-3" placeholder="Usuario" id="userId" name="user" formControlName="user" [class.is-invalid]="userNotValid">
    <input type="password" class="form-control mb-3" placeholder="Contraseña" id="passwordId" name="password" formControlName="password" [class.is-invalid]="passwordNotValid">
    <div fxLayout="row" fxLayoutAlign="center center" class="animated fadeIn">
        <button class="btn btn-05668D mb-3">INGRESAR</button>
    </div>
</form>