<!-- Banner -->
<app-main-banner text="PROCESOS VOTACIÓN"></app-main-banner>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>

<!-- VoterId -->
<div class="text-center mt-3 animated fadeIn">
    <h4>Procesos de votación permitidos para el ciudadano con identificación: {{ voterId }}</h4>
</div>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>No se encuentran registros.</span>
</div>

<!-- Table with the information -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isEmpty && !isError">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">N°</th>
                <th class="text-center" scope="col">NOMBRE</th>
                <th class="text-center" scope="col">DESCRIPCIÓN</th>
                <th class="text-center" scope="col">FECHA</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let process of processes; index as idx">
                <th class="text-justify" scope="row">{{ idx + 1 }}</th>
                <td>{{ process.name }}</td>
                <td class="text-justify">{{ process.description }}</td>
                <td class="text-center">{{ process.start_date }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>