<section class="mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="text-justify">
        <p>Puede consultar si su certificado de votación es válido aquí.</p>
    </div>
    <div class="text-center"><button class="btn btn-00a896" (click)="checkCertificate()">Consultar</button></div>
</section>