<!-- Banner -->
<app-main-banner [text]="bannerText"></app-main-banner>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>No se encuentran registros.</span>
</div>

<!-- Table with the information -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isEmpty && !isError">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">N°</th>
                <th class="text-center" scope="col">IDENTIFICACIÓN VOTANTE</th>
                <th class="text-center" scope="col">CALIFICACIÓN RECONOCIMIENTO</th>
                <th class="text-center" scope="col">FECHA INTENTO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of authLogs">
                <th class="text-center" scope="row">{{ log.id }}</th>
                <td class="text-center">{{ log.voter_identification }}</td>
                <td class="text-center">{{ log.score }}</td>
                <td class="text-center">{{ date(log.created_at) }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
        <button class="btn btn-05668D" type="button" [routerLink]="['/process/panel']">ATRÁS</button>
    </div>
</div>