<!-- Banner -->
<app-main-banner text="REPORTAR NOVEDADES"></app-main-banner>

<!-- infrmation for user -->
<div class="text-center mt-3 animated fadeIn">
    <h4>En este espacio puede realizar una solicitud de revisión, para permitirle votar en un proceso próximo específico.</h4>
</div>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError"></app-spinner>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- Form -->
<div class="container animated fadeIn fadeInLeft" *ngIf="!isLoading && !isError">
    <h5 class="font-028090">Ingrese los datos para solicitar la revisión:</h5>
    <app-report-news-form isCandidate=true [votingProcess]="votingProcessId" [candidateId]="candidateId"></app-report-news-form>
</div>