<!-- Form -->
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="stretch">
    <input type="text" class="form-control mb-3" placeholder="Identificación ciudadano" id="voterId" name="voter" formControlName="voter" [class.is-invalid]="voterNotValid">
    <div class="text-center animated fadeIn">
        <button class="btn btn-05668D mb-3">INGRESAR</button>
    </div>
</form>