<!-- Login template -->
<div class="general">
    <div class="div-form animated fadeIn fadeInLeft" fxFlex="row" fxLayoutAlign="center center">
        <div fxFlex="55" fxLayoutAlign="center center" fxHide.xs fxHide.sm>
            <img src="assets/img/thumbnail_login_icono_v1.png" style="width: 100%;" alt="login_image">
        </div>
        <div fxFlex="45" fxLayout="column" fxLayoutAlign="start start">
            <h2>Votar.</h2>
            <span class="font-italic">Por favor, ingrese su identificación.</span>
            <!-- Form to access to vote -->
            <app-access-vote-process-form class="mt-3"></app-access-vote-process-form>
        </div>
    </div>
</div>