.with-buttons {
    position: relative;
}


/* Button float starts */

.btn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.btn-with-download {
    position: absolute;
    top: 30px;
    right: 200px;
}


/* Button float ends */