<!-- Banner for large displays-->
<div class="div-banner animated fadeIn" fxLayout="row" fxLayoutAlign="center center" [class.with-buttons]="textButtonNew || textButtonDownload" fxHide fxShow.gt-md>
    <!-- Text -->
    <span> {{ text }} </span>
    <!-- Buttons -->
    <div>
        <button class="btn btn-028090" *ngIf="textButtonNew && !textButtonDownload" (click)="funNew()"> {{ textButtonNew }} </button>
        <button class="btn btn-with-download btn-028090" *ngIf="textButtonNew && textButtonDownload" (click)="funNew()"> {{ textButtonNew }} </button>
        <button class="btn btn-028090" *ngIf="textButtonDownload" (click)="funReport()"> {{ textButtonDownload }} <i class="fas fa-cloud-download-alt"></i> </button>
    </div>
</div>

<!-- Banner for small displays-->
<div class="div-banner animated fadeIn" fxLayout="column" fxLayoutAlign="center center" fxHide.gt-md fxShow.gt-xs>
    <span> {{ text }} </span>
    <div fxLayout="column">
        <div>
            <a *ngIf="textButtonNew" (click)="funNew()"> {{ textButtonNew }} </a>
        </div>
        <div>
            <a *ngIf="textButtonDownload" (click)="funReport()"> {{ textButtonDownload }}  </a>
        </div>
    </div>
</div>