.card {
    width: 100%;
}

.img-container {
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.img-container>.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}