<!-- banner with type writer effect -->
<app-typewriter-banner></app-typewriter-banner>
<div class="mt-5 text-center container">
    <img class="w-25" src="assets/img/028090_L.png" alt="kybernan-image">
</div>
<section class="p-4 m-4">
    <h1 class="font-00a896 animated fadeIn fadeInLeft">Resumen</h1>
    <!-- Accordion with the system information -->
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let info of systemInfo">
            <ng-template ngbPanelTitle>
                <span class="font-00a896">{{ info.title }}</span>
            </ng-template>
            <ng-template ngbPanelContent>
                {{info.cont}}
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
    <!-- Developers information -->
    <h1 class="font-00a896 animated fadeIn fadeInLeft">Información de contacto</h1>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
        <!-- Cards for each developer -->
        <div class="card m-2 p-2 section-cards shadow bg-white rounded animated fadeIn fadeInRight" style="width: 19rem;" *ngFor="let developer of developers">
            <img [src]="developer.image" class="card-img-top w-100">
            <div class="card-body">
                <h5 class="card-title">{{developer.name}} {{developer.lastName}}</h5>
                <p class="text-left"><i class="fas fa-envelope-square"></i> {{ developer.email }}</p>
                <p class="text-left"><i class="fas fa-phone"></i> {{ developer.phoneNumber }}</p>
                <div fxLayout="row" fxLayoutAlign="space-around center">
                    <a [href]="developer.linkedIn"><i class="fab fa-linkedin"></i></a>
                    <a [href]="developer.twitter"><i class="fab fa-twitter-square"></i></a>
                    <a [href]="developer.instagram"><i class="fab fa-instagram"></i></a>
                    <a [href]="developer.facebook"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>