<!-- Banner -->
<app-main-banner text="PROCESOS VOTACIÓN" textButtonNew="Nuevo proceso" routeButtonNew="/process/new_process"></app-main-banner>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>No se encuentran registros.</span>
</div>

<!-- Table with the information -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isEmpty && !isError">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">NOMBRE</th>
                <th class="text-center" scope="col">FECHA INICIO</th>
                <th class="text-center" scope="col">FECHA FIN</th>
                <th class="text-center" scope="col">ESTADO</th>
                <th class="text-center" scope="col">CANDIDATOS</th>
                <th class="text-center" scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let process of processes">
                <th class="text-center" scope="row">{{ process.id }}</th>
                <td>{{ process.name }}</td>
                <td class="text-center">{{ process.start_date }}</td>
                <td class="text-center">{{ process.end_date }}</td>
                <td class="text-center font-weight-bold" [ngSwitch]="process.status">
                    <span class="text-info" *ngSwitchCase="0">Creado</span>
                    <span class="text-success" *ngSwitchCase="1">Iniciado</span>
                    <span class="text-primary" *ngSwitchCase="2">Finalizado</span>
                    <span class="text-danger" *ngSwitchCase="3">Cancelado</span>
                    <span class="text-warning" *ngSwitchCase="4">Suspendido</span>
                </td>
                <td class="text-center" *ngIf="process.candidates_number == 0" [class.text-danger]="process.candidates_number == 0">Sin asignar</td>
                <td class="text-center" *ngIf="process.candidates_number != 0"> <a class="linkTable" (click)="viewCandidates(process.id)"> Ver detalles </a> </td>
                <td class="text-right">
                    <!-- Created -->
                    <i *ngIf="process.status === '0'" class="fas fa-play text-success ml-1 mr-1" ngbPopover="Inicia proceso electoral, se habilita los votos" triggers="mouseenter:mouseleave" popoverTitle="Inicia proceso" (click)="startProcess(process.id)"></i>
                    <!-- paused -->
                    <i *ngIf="process.status === '0'" class="fas fa-pause text-warning ml-1 mr-1" ngbPopover="Suspender proceso para reanudar luego" triggers="mouseenter:mouseleave" popoverTitle="Suspender proceso" (click)="pauseProcess(process.id)"></i>
                    <!-- stoped -->
                    <i *ngIf="process.status === '1'" class="fas fa-stop text-danger ml-1 mr-1" ngbPopover="Terminar proceso, se realiza el conteo" triggers="mouseenter:mouseleave" popoverTitle="Terminar proceso" (click)="finishProcess(process.id)"></i>
                    <!-- view dtails -->
                    <i class="fas fa-eye font-05668D ml-1 mr-1" ngbPopover="Ver detalles del proceso de votación" triggers="mouseenter:mouseleave" popoverTitle="Ver Detalles" (click)="viewDetails(process)"></i>
                    <!-- edit -->
                    <i *ngIf="process.status === '0' || process.status == '4'" class="fas fa-pencil-alt font-05668D ml-1 mr-1" triggers="mouseenter:mouseleave" popoverTitle="Editar" (click)="editProcess(process.id)"></i>
                    <!-- add candidate -->
                    <i *ngIf="process.status === '0'" class="fas fa-user-plus text-success ml-1 mr-1" ngbPopover="Postular un candidato al proceso de votación" triggers="mouseenter:mouseleave" popoverTitle="Postular candidato" (click)="addCandidate(process.id)"></i>
                    <!-- Authentication logs -->
                    <i *ngIf="process.status === '2'" class="fas fa-file-alt font-05668D ml-1 mr-1" ngbPopover="Listar logs de intentos de logueo al proceso" triggers="mouseenter:mouseleave" popoverTitle="Ver logs logueo" (click)="authLogs(process.id)"></i>
                    <!-- cancel -->
                    <i *ngIf="process.status === '0'  || process.status == '4'" class="fas fa-ban text-danger ml-1 mr-1" ngbPopover="Cancelar el proceso de votación" triggers="mouseenter:mouseleave" popoverTitle="Cancelar" (click)="cancelProcess(process.id)"></i>
                    <!-- View Winner -->
                    <i *ngIf="process.status === '2'" class="fas fa-trophy text-success ml-1 mr-1" ngbPopover="Ver el ganador del proceso" triggers="mouseenter:mouseleave" popoverTitle="Ganador" (click)="viewWinner(process.id)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>