<!-- Banner -->
<app-main-banner text="SOLICITUDES EN PROCESOS DE VOTACIÓN"></app-main-banner>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>

<div class="container">
    <p>Solicitudes de:</p>
    <label class="radio-inline"><input type="radio" name="optradio" value="1" checked (change)="onChange($event.target.value)">Votantes</label>
    <label class="radio-inline"><input type="radio" name="optradio" value="2" (change)="onChange($event.target.value)">Candidatos</label>
</div>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError && !isCandidate">
    <span>No se encuentran registros.</span>
</div>

<!-- If the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isCandidateEmpty && !isError && isCandidate">
    <span>No se encuentran registros.</span>
</div>

<!-- Table with the information -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isEmpty && !isError && !isCandidate">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">IDENTIFICACIÓN</th>
                <th class="text-center" scope="col">NOMBRE VOTANTE</th>
                <th class="text-center" scope="col">PROCESO DE VOTACIÓN</th>
                <th class="text-center" scope="col">ESTADO</th>
                <th class="text-center" scope="col">FECHA CREACIÓN</th>
                <th class="text-center" scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of voterRequests">
                <th class="text-center" scope="row">{{ request.id }}</th>
                <td>{{ request.identification }}</td>
                <td class="text-center">{{ request.first_name }} {{ request.last_name }}</td>
                <td class="text-center">{{ request.voting_process_name }}</td>
                <td class="text-center font-weight-bold" [ngSwitch]="request.status">
                    <span class="text-info" *ngSwitchCase="0">Sin revisión</span>
                    <span class="text-primary" *ngSwitchCase="1">En proceso</span>
                    <span class="text-success" *ngSwitchCase="2">Revisado</span>
                </td>
                <td class="text-center">{{date(request.created_at)}}</td>
                <td class="text-right">
                    <!-- View Winner -->
                    <i class="fas fa-eye font-05668D mr-2" ngbPopover="Ver detalles de la solicitud" triggers="mouseenter:mouseleave" popoverTitle="Solicitud" (click)="viewDetails(request)"></i>
                    <i class="fas fa-pencil-alt font-05668D" ngbPopover="Actualizar estado o respuesta de una solicitud" triggers="mouseenter:mouseleave" popoverTitle="Actualizar solicitud" (click)="onChangeRequest(request)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>

<!-- Table with the information -->
<div class="div-table shadow-lg animated fadeIn fadeInLeft overflow-auto" *ngIf="!isLoading && !isCandidateEmpty && !isError && isCandidate">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">PROCESO DE VOTACIÓN</th>
                <th class="text-center" scope="col">ESTADO</th>
                <th class="text-center" scope="col">FECHA CREACIÓN</th>
                <th class="text-center" scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of candidatesRequests">
                <th class="text-center" scope="row">{{ request.id }}</th>
                <td class="text-center">{{ request.voting_process_name }}</td>
                <td class="text-center font-weight-bold" [ngSwitch]="request.status">
                    <span class="text-info" *ngSwitchCase="0">Sin revisión</span>
                    <span class="text-primary" *ngSwitchCase="1">En proceso</span>
                    <span class="text-success" *ngSwitchCase="2">Revisado</span>
                </td>
                <td class="text-center">{{date(request.created_at)}}</td>
                <td class="text-right">
                    <!-- View Winner -->
                    <i class="fas fa-eye font-05668D mr-2" ngbPopover="Ver detalles de la solicitud" triggers="mouseenter:mouseleave" popoverTitle="Solicitud" (click)="viewCandidateReqDetails(request)"></i>
                    <i class="fas fa-pencil-alt font-05668D" ngbPopover="Actualizar estado o respuesta de una solicitud" triggers="mouseenter:mouseleave" popoverTitle="Actualizar solicitud" (click)="onChangeCandidateRequest(request)"></i>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true">
        </ngb-pagination>
    </div>
</div>