<section class="mt-5 shadow p-3 mb-5 bg-white rounded">
    <div class="text-justify">
        <p>Puede consultar si es apto para votar en algún proceso electoral aquí.</p>
    </div>
    <div class="text-center"><button class="btn btn-00a896" (click)="consultSuitable()">Consultar</button></div>
</section>