<!-- Title -->
<section class="m-4 animated fadeIn">
    <h1 class="font-028090">PROCESOS DE VOTACIÓN PRÓXIMOS</h1>
</section>
<!-- Row with two columns-->
<div class="ml-4 mr-4 animated fadeIn" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">
    <div class="animated fadeIn fadeInLeft" fxFlex="70">
        <!-- template with processes -->
        <app-grid-process></app-grid-process>
    </div>
    <!-- Buttons divs -->
    <div class="animated fadeIn fadeInLeft pl-4 pr-4" fxFlex="30">
        <div class="text-center">
            <button class="btn btn-05668D" [routerLink]="['/process/results']">Resultados anteriores</button>
        </div>
        <!-- consult -->
        <app-consult-suitable></app-consult-suitable>
        <hr>
        <!-- Report news -->
        <app-report-news></app-report-news>
        <hr>
        <!-- Check certificate -->
        <app-check-certificate></app-check-certificate>
    </div>
</div>