.menu-container {
    background-color: #FFFFFF;
    padding: 10px 20px;
    position: relative;
    border-bottom: 1px solid #00a896;
}

.logo {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo:hover {
    cursor: pointer;
}

.btn {
    width: 150px;
    margin-bottom: 5px;
}