<nav class="menu-container navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo -->
    <a class="navbar-brand" [routerLink]="['/']">
        <img class="logo animated fadeIn" id="logoId" [src]="imageLogo" alt="logo_image" (mouseenter)="isHover(true)" (mouseleave)="isHover(false)">
    </a>
    <!-- button if it's collapsed -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- buttons -->
    <div class="collapse navbar-collapse navbar-right" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <!-- home button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/']"> <span class="text-center"> INICIO </span> </a>
            </li>
            <!-- about button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/about']"> <span class="text-center"> ACERCA DE </span> </a>
            </li>
            <!-- processes button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/process/panel']" *ngIf="isAdmin()"> <span class="text-center"> PROCESOS </span> </a>
            </li>
            <!-- requests button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/process/requests']" *ngIf="isAdmin()"> <span class="text-center"> SOLICITUDES </span> </a>
            </li>
            <!-- create user button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/user/create']" *ngIf="isAdmin()"> <span class="text-center"> CREAR USUARIO </span> </a>
            </li>
            <!-- create user button -->
            <li class="nav-item">
                <a type="button" class="btn btn-ffffff mr-3" [routerLink]="['/candidate/home']" *ngIf="isCandidate()"> <span class="text-center"> CANDIDATO </span> </a>
            </li>
            <!-- log out button -->
            <li class="nav-item">
                <a type="button" class="btn btn-00a896" (click)="logOut()" *ngIf="isAdmin() || isCandidate()"> <span class="text-center"> SALIR <i class="fas fa-arrow-right"></i> </span> </a>
            </li>
        </ul>
    </div>
</nav>