.card {
    border: 1px solid #00a896;
}

.card:hover {
    cursor: pointer;
}

.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.img-container>.crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.card-body>h5 {
    text-align: center;
}


/* RESPONSIVE */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .img-container {
        width: 200px;
        height: 200px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .img-container {
        width: 200px;
        height: 200px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .img-container {
        width: 200px;
        height: 200px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .img-container {
        width: 170px;
        height: 170px;
    }
}