<!-- banner -->
<app-main-banner text="Registrar voto"></app-main-banner>
<!-- process name -->
<div class="text-center mt-3">
    <h4>Proceso de votación: {{ processName }}</h4>
</div>
<!-- Spinner -->
<app-spinner *ngIf="isLoading && !isError && !isEmpty"></app-spinner>
<!-- Error if there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError && !isEmpty">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>
<!-- Empty information if the data is empty -->
<div class="alert alert-warning text-center animated fadeIn" role="alert" *ngIf="!isLoading && isEmpty && !isError">
    <span>No se encuentran registros.</span>
</div>
<!-- candidates cards -->
<div class="container animated fadeIn fadeInLeft" *ngIf="!isLoading && !isError && !isEmpty">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-xl-3 card shadow p-3 mb-5 bg-white rounded" *ngFor="let candidate of candidates" (click)="RegisterVote(candidate)">
            <div class="text-center">
                <img class="img-container card-img-top" src="assets/img/image-white-vote.jpg" alt="process-image" *ngIf="candidate.identification=='-'">
                <img class="img-container card-img-top" [src]="candidate.image" alt="process-image" *ngIf="candidate.identification!='-'">
            </div>
            <div class="card-body">
                <h5 class="font-weight-bold font-05668D">{{candidate.first_name}} <span *ngIf="candidate.last_name != '-'">{{candidate.last_name}}</span></h5>
                <p class="font-weight-bold font-028090">{{candidate.description}}</p>
            </div>
        </div>
    </div>
</div>