/* Buttons starts */

.btn-ffffff {
    background-color: #ffffff;
    color: #00a896;
    border: 1px solid #00a896;
}

.btn-ffffff:hover {
    background-color: #00a896;
    color: #ffffff;
    border: 1px solid #00a896;
}

.btn-05668D {
    background-color: #05668D;
    color: #ffffff;
}

.btn-05668D:hover {
    background-color: #028090;
    color: #ffffff;
}

.btn-028090 {
    background-color: #028090;
    color: #ffffff;
}

.btn-028090:hover {
    background-color: #05668D;
    color: #ffffff;
}

.btn-00a896 {
    background-color: #00a896;
    color: #ffffff !important;
}

.btn-00a896:hover {
    background-color: #02c39a;
    color: #ffffff;
}

.button-upload {
    border: 1px solid #028090;
    border-radius: 5px;
    text-align: center;
    padding: 0px 10px;
    width: 100%;
    height: 37px;
    line-height: 40px;
    color: #212529;
    background-color: #ffffff;
}

.button-upload:hover {
    background-color: #028090;
    cursor: pointer;
    color: #ffffff;
}

.button-invalid {
    border: #dc3545;
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 0px 10px;
    width: 100%;
    height: 37px;
    line-height: 40px;
}

.button-valid {
    border: #02c39a;
    background-color: #02c39a;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 0px 10px;
    width: 100%;
    height: 37px;
    line-height: 40px;
}

.btn-submit {
    background-color: #028090;
    color: #ffffff;
}

.btn-submit:hover {
    background-color: #05668D;
    color: #ffffff;
}

.btn-cancel {
    border: 1px solid #028090;
    color: #028090;
    background-color: #ffffff;
}

.btn-table {
    border: 1px solid #028090;
    color: #028090;
    background-color: #ffffff;
}

.btn-table:hover {
    color: #ffffff;
    background-color: #05668D;
}


/* Buttons starts */


/* Fonts starts */

.font-00a896 {
    color: #00a896;
}

.font-02c39a {
    color: #02c39a;
}

.font-05668D {
    color: #05668D;
}

.font-028090 {
    color: #028090;
}

.font-f0f38d {
    color: #f0f38d;
}


/* Fonts ends */


/* Div banner starts */

.div-banner {
    height: 100px;
    color: #028090;
    font-family: 'Anton', sans-serif;
    background-color: #f0f0f0;
}

.div-banner>span {
    font-size: 1.7rem;
}


/* Div banner ends */


/* Circular images starts */

.circular--landscape-130 {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #013090;
}

.circular--landscape-130 img {
    width: auto;
    height: 130%;
    margin-left: -50px;
    border: 1px solid #013090;
}

.circular--landscape-280 {
    display: inline-block;
    position: relative;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #028090;
}

.circular--landscape-280 img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    border: 1px solid #028090;
}

.circular--landscape-280:hover {
    cursor: pointer;
}


/* Circular images ends */


/* Forms starts */

textarea {
    border: 1px solid #ced4da;
}

.dates-div {
    border: 1px solid #ced4da;
}

.form-default {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
}

.span-form-default {
    color: #05668d !important;
    font-weight: bold !important;
}

.col-form-label {
    color: #05668d;
    font-weight: bold;
}

.div-input-default {
    height: 45px;
}

.div-input-default-radio {
    height: 45px;
    margin-bottom: 16px;
}

.div-input-default-radio>span {
    margin-right: 5px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #727171;
    border-color: #05668d;
    background-color: #05668d;
}

.custom-control-label {
    color: #727171;
}


/* Forms ends */


/* SPINNER STARTS */

.div-spinner-default {
    width: 100%;
    height: 50vh;
    position: relative;
    margin-bottom: 100vh;
}

.div-spinner-short {
    width: 100%;
    height: 20vh;
    line-height: 20vh;
    position: relative;
}


/* SPINNER ENDS */


/* Tables starts */

.linkTable {
    text-decoration: none;
}

.linkTable:hover {
    cursor: pointer;
    color: #007bff !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #05668d;
    border-color: #05668d;
}


/* Tables ends */


/* RESPONSIVE */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .div-banner>span {
        font-size: 2rem;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .div-banner>span {
        font-size: 2rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .div-banner>span {
        font-size: 2rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .div-banner>span {
        font-size: 4rem;
    }
}