<!-- Banner -->
<app-main-banner text="CANDIDATO"></app-main-banner>

<!-- Spinner while the data is loading -->
<app-spinner *ngIf="isLoading && !isError"></app-spinner>

<!-- If there's an error -->
<div class="alert alert-danger text-center animated fadeIn" role="alert" *ngIf="!isLoading && isError">
    <span>Ocurrió un error al cargar los registros, inténtelo más tarde.</span>
</div>

<div class="mt-4" fxLayout="row" fxLayoutAlign="start center" *ngIf="!isLoading && !isError">
    <div fxFlex="20" class="text-center">
        <img [src]="candidateImage" alt="candidate-image">
    </div>
    <div fxFlex="50" fxLayout="row">
        <table>
            <tbody>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Identificación: </td>
                    <td class="font-02c39a">{{ candidateInformation.identification }}</td>
                </tr>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Nombres: </td>
                    <td class="font-02c39a">{{ candidateInformation.first_name }}</td>
                </tr>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Apellidos: </td>
                    <td class="font-02c39a">{{ candidateInformation.last_name }}</td>
                </tr>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Fecha de nacimiento: </td>
                    <td class="font-02c39a">{{ candidateInformation.birthdate }}</td>
                </tr>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Género: </td>
                    <td class="font-02c39a">{{ candidateInformation.gender }}</td>
                </tr>
                <tr>
                    <td class="font-05668D font-weight-bold mr-2">Correo electrónico: </td>
                    <td class="font-02c39a">{{ candidateInformation.email }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div fxFlex="30">
        <app-report-news isCandidate=true></app-report-news>
    </div>
</div>