<app-spinner *ngIf="isProcessLoading && !isProcessError"></app-spinner>

<form class="form-default" autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around stretch" *ngIf="!isProcessLoading && !isProcessError">
    <div fxLayout="row" fxLayout.xs="column">
        <!-- Left side -->
        <div fxFlex="60" class="mr-1">
            <!-- Name -->
            <div fxLayout="row">
                <label for="nameId" class="col-form-label mr-2"> Nombre </label>
                <input type="text" class="form-control" id="nameId" name="name" formControlName="name" [class.is-invalid]="nameNotValid">
            </div>
            <!-- Description -->
            <div fxLayout="column">
                <label for="descriptionId" class="col-form-label"> Descripción </label>
                <textarea id="descriptionId" name="description" class="form-control" formControlName="description" [class.is-invalid]="descriptionNotValid" cols="30" rows="10"></textarea>
            </div>
            <!-- Dates -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="dates-div mt-3">
                <!-- Initial date -->
                <div fxFlex="50" fxLayout="column">
                    <span class="text-center span-form-default">Fecha inicial</span>
                    <div fxLayout="row" class="p-3">
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha inicial" id="initDateid" name="initDate" formControlName="initDate" name="dp1" [minDate]=mindate ngbDatepicker #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="pl-3 pr-3 pb-3">
                        <ngb-timepicker id="initHourId" name="initHour" formControlName="initHour" [meridian]="meridian" size="small"></ngb-timepicker>
                    </div>
                </div>
                <!-- finish date -->
                <div fxFlex="50" fxLayout="column">
                    <span class="text-center span-form-default">Fecha final</span>
                    <div fxLayout="row" class="p-3">
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha final" id="finishDateid" name="finishDate" formControlName="finishDate" name="dp2" ngbDatepicker #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="pl-3 pr-3 pb-3">
                        <ngb-timepicker [meridian]="meridian" size="small" id="finishHourId" name="finishHour" formControlName="finishHour"></ngb-timepicker>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right side -->
        <div fxFlex="40" class="ml-1">
            <!-- Process image -->
            <div class="form-group text-center" fxLayout="column">
                <label for="imageId" class="col-form-label"> Imagen </label>
                <label for="imageId" class="col-form-label"> <img class="circular--landscape-280" [src]="processImage" alt="processImage"> </label>
                <input hidden #fileInputImage type="file" accept=".jpg, .jpeg" id="imageId" name="image" formControlName="image" (change)="handleFileInput($event.target.files)" [class.is-invalid]="imageNotValid">
                <!-- <input type="file" hidden class="form-control" id="imageId" name="name" formControlName="image" [class.is-invalid]="imageNotValid"> -->
            </div>
            <!-- input excel file -->
            <div class="form-group" fxLayout="row">
                <input hidden #fileInputVoters type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="votersId" (change)="handleFileVoters($event.target.files)">
                <label class="button-upload" for="votersId" [class.button-invalid]="votersNotValid" [class.button-valid]="votersValid"> Cargar votantes <i class="fas fa-cloud-upload-alt"></i> </label>
                <i class="fas fa-exclamation-circle" *ngIf="votersNotValid"></i>
                <i class="fas fa-check-circle" *ngIf="votersValid"></i>
            </div>
            <!-- Input candidates photos -->
            <div class="container" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                <ngx-dropzone-label>
                    <div>
                        <small [class.text-danger]="votersImagesFilesNotValid"> Arrastre las imágenes de los votantes solamente formato .jpg </small>
                    </div>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of votersImagesFiles" [file]="file" [removable]="true" (removed)="onRemove(file)" [class.custom-dropzone]="votersImagesFilesNotValid">
                    <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
            </div>
        </div>
    </div>
    <hr style="width: 100%; color: #ced4da; height: 1px;" />
    <!-- Actions buttons -->
    <div fxLayout="row" fxLayoutAlign="space-around center">
        <button type="button" class="btn btn-dec btn-cancel" [routerLink]="['/process/panel']"> DESCARTAR CAMBIOS</button>
        <button type="submit" class="btn btn-dec btn-submit"> {{submitButtonText}} </button>
    </div>
</form>