.btn-dec {
    width: auto;
}

.fa-check-circle {
    line-height: 40px;
    color: #02c39a;
}

.fa-exclamation-circle {
    color: #dc3545;
    line-height: 40px;
}


/* Extra small devices (portrait phones, less than 576px) */


/* No media query for `xs` since this is the default in Bootstrap */


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .btn-dec {
        width: 200px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .btn-dec {
        width: 200px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .btn-dec {
        width: 300px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .btn-dec {
        width: 300px;
    }
}