<div class="shadow-lg rounded p-3">
    <h5 class="font-028090">Datos personales:</h5>
    <!-- Form starts -->
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="70" class="">
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="firstNameId" placeholder="Nombres" name="firstName" formControlName="firstName" [class.is-invalid]="firstNameNotValid" autofocus>
                        </div>
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="identificationId" placeholder="Identificación" name="identification" formControlName="identification" [class.is-invalid]="identificationNotValid">
                        </div>
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="emailId" placeholder="Correo electrónico" name="email" formControlName="email" [class.is-invalid]="emailNotValid">
                        </div>
                    </div>
                    <div fxFlex="50" class="ml-5">
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="lastNameId" placeholder="Apellidos" name="lastName" formControlName="lastName" [class.is-invalid]="lastNameNotValid">
                        </div>
                        <div class="input-group">
                            <input class="form-control" placeholder="Fecha de nacimiento" id="birthdayid" name="birthday" formControlName="birthday" [class.is-invalid]="birthdayNotValid" name="dp" ngbDatepicker [minDate]="minDate" #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"> <i class="far fa-calendar-alt"></i> </button>
                            </div>
                        </div>
                        <small class="form-text text-muted" *ngIf="birthdayNotValid">La fecha de nacimiento es obligatoria.</small>
                        <!-- Gender -->
                        <div class="div-input-default-radio" fxlayout="column" fxLayoutAlign="start center">
                            <span class="mr-2"> Sexo: </span>
                            <div class="custom-control custom-radio custom-control-inline" *ngFor="let genderOption of genderOptions">
                                <input type="radio" id="genderId{{genderOption.value}}" class="custom-control-input" name="gender" [value]="genderOption.value" formControlName="gender">
                                <label class="custom-control-label" for="genderId{{ genderOption.value}}"> {{genderOption.viewValue}} </label>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="70" class="ml-5">
                        <div class="div-input-default">
                            <input type="text" class="form-control" id="userNameId" placeholder="Nombre de usuario" name="userName" formControlName="userName" [class.is-invalid]="userNameNotValid">
                        </div>
                        <div class="div-input-default">
                            <input type="password" class="form-control" id="passwordId" placeholder="Contraseña" name="password" formControlName="password" [class.is-invalid]="passwordNotValid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- form ends -->
</div>

<!-- Actions buttons -->
<hr style="width: 100%; color: #ced4da; height: 1px;" />
<div fxLayout="row" fxLayoutAlign="end center">
    <button type="button" class="btn btn-dec btn-cancel mr-4" (click)="cancel()"> DESCARTAR CAMBIOS</button>
    <button type="submit" class="btn btn-dec btn-submit ml-4" (click)="onSubmit()"> GUARDAR </button>
</div>