<!-- Footer -->
<footer class="pt-4 animated fadeIn" fxLayout="column" fxLayoutAlign="space-around stretch">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left first-div" fxFlex="100">

        <!-- Grid row -->
        <div fxLayout="row">

            <!-- Grid column -->
            <div class="m-3" fxFlex="50">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold"> Voteapp </h5>
                <p>Vota de manera segura </p>

            </div>
            <!-- Grid column -->

            <hr>

            <!-- Grid column -->
            <div class="m-3" fxFlex="50">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Desarrollado por:</h5>
                <p>Francisco Zambrano.</p>
                <p>Daniel Burbano.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 second-div" fxFlex="100"> © {{ year }} Copyright
        <a href="https://www.udenar.edu.co/"> Universidad de Nariño </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->